{% load static %}
{% load i18n %}


{% get_current_language_bidi as LANGUAGE_BIDI %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Smart-Quotes{% endblock title%}</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header class="primary-header flex">
        <div>
            <a href="{% url 'home' %}"><img src="/static/images/cropped-logo-1.png" alt="Smart-Quotes logo" class="logo"></a>
        </div>
        <button class="mobile-nav-toggle" aria-controls="primary-navigations" aria-expanded="false">
            <span class="sr-only">Menu</span>
        </button>
        <nav class="flex">
            <ul data-visible="false" id="primary-navigation" class="primary-navigation flex">
                <li><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">Clients</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">LinkedIn</a></li>
            </ul>
        </nav> </header>
    

    <!-- i18n form-->
<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="/">
    <select name="language" onchange="this.form.submit()">
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE%} selected {% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
</form>
<hr>
{% translate "Simple string" %}
<hr>



    <div class="container">
    {% block content %}    
    <h1>Base layout</h1>
    {% endblock content %}
    </div>
</body>
<script src="{% static 'js/base.js' %}"></script>
</html>