{% load static %}
{% load i18n %}


{% get_current_language_bidi as LANGUAGE_BIDI %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Smart-Quotes{% endblock title%}</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;500;700&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet"> 
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header class="primary-header flex">
        <div>
            <a href="{% url 'home' %}"><img src="{% static 'images/cropped-logo-1.png'%}" alt="Smart-Quotes logo" class="logo"></a>
        </div>
        <button class="mobile-nav-toggle" aria-controls="primary-navigations" aria-expanded="false">
            <span class="sr-only">Menu</span>
        </button>
        <nav class="flex">
            <ul data-visible="false" id="primary-navigation" class="primary-navigation flex">
                <li><a href="#">{% translate "Home"%}</a></li>
                <li><a href="#">{% translate "Services" %}</a></li>
                <li><a href="#">{% translate "About" %}</a></li>
                <li><a href="#">{% translate "Reviews" %}</a></li>
                <li><a href="#">{% translate "Clients" %}</a></li>
                <li><a href="#">{% translate "Contacts" %}</a></li>
                <li><a href="#">{% translate "LinkedIn" %}</a></li>
                <!-- i18n form-->
                <li><form action="{% url 'set_language' %}" method="post" class="input-lang">{% csrf_token %}
                    <input name="next" type="hidden" value="/">
                    <select name="language" onchange="this.form.submit()">
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE%} selected {% endif %}>
                                <!-- {{ language.name_local }} -->
                                {% if language.code == 'en'%} 🇬🇧
                                {% elif language.code == 'uk' %}🇺🇦
                                {% endif %}
                            </option>
                        {% endfor %}
                    </select>
                </form></li>
            </ul>
        </nav>
    </header>
<main>
    {% block content %}    
    <h1>Base layout</h1>
    {% endblock content %}
</main>
<hr>
{% translate "Simple string" %}
<hr>
</body>
<script src="{% static 'js/base.js' %}"></script>
</html>