{% extends "_base.html" %}
{% load i18n %}
{% block title %}Smart Quotes{% endblock title%}

{% block content %}
    <h1>This is homepage!</h1>
    {% translate "Our Services" %}
        {% for service in services %}
        <div>
            {% if lang == "en" %}
            <p>service title = {{service.title_en}}</p>
            <p>service description = {{service.description_en}}</p>
            {% elif lang == 'uk' %}
            <p>service title = {{service.title_uk}}</p>
            <p>service description = {{service.description_uk}}</p>
            {% endif %}
        </div>
        {% endfor %}
        <hr>
        <h1>Feedbacks</h1>

        {% for feedback in feedbacks %}
            <p>{{ feedback.author }}</p>
            <p>{{feedback.company}}</p>
            {% if lang == "en" %}
            <p>{{ feedback.feedback_en }}</p>
            {% elif lang == 'uk' %}
            <p>{{ feedback.feedback_uk }}</p>
            {% endif %}
            <p></p>
        {% endfor %}
        <div>
            <h2>lang = {{lang}}</h2>
        </div>
{% endblock content %}